@use "./../../styles/breakpoints" as breakpoints;

.tabsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: max-content;
  width: 100%;
  margin-top: 80px;

  .tabTitles {
    min-width: 500px;
    display: flex;
    flex-direction: column;

    @include breakpoints.gt-xs-rv {
      min-width: 300px;
    }

    button {
      margin-bottom: 25px;
      padding: 60px 70px;
      background-color: transparent;
      cursor: pointer;
      box-shadow: 0 0 15px 1px rgba(255, 255, 255, .5), 0 0 15px 1px rgba(255, 255, 255, .5) inset;
      border: 2px solid #4F70CF;
      border-radius: 18px 0 0 18px;
      font-size: 32px;
    }

    .active {
      box-shadow: none;
      font-weight: bold;
      background-color: #4F70CF;
    }
  }

  .tabContent {
    background-color: #4F70CF;
    flex-grow: 1;
    padding: 60px 100px;
    border-radius: 0 18px 18px 18px;

    h3 {
      font-size: 32px;
    }

    p {
      font-size: 24px;
    }
  }
}
