@use "../../styles/breakpoints" as breakpoints;

.overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.modal {
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 600px;
  display: flex;
  padding: 100px 80px;
  flex-direction: column;
  background-color: #4F70CF;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  animation: zoomIn 0.3s ease;
  box-shadow: 0 0 137px 1px #3B69F8;

  @include breakpoints.gt-xs {
    padding: 40px;
    width: 90vw;
    height: 70vh;
  }

  h2 {
    font-size: 48px;
    margin: 0;

    @include breakpoints.gt-xs {
      font-size: 22px;
    }
  }

  p {
    max-width: 60%;
    font-size: 32px;

    @include breakpoints.gt-xs {
      max-width: 100%;
      font-size: 20px;
    }
  }

  > div {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include breakpoints.gt-xs {
      margin-top: 30px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    .generate {
      cursor: pointer;
      border: none;
      outline: none;
      width: 250px;
      height: 60px;
      border-radius: 30px;
      background-color: #fff;
      color: #4F70CF;
      font-size: 20px;

      @include breakpoints.gt-xs {
        width: 200px;
        height: 40px;
        font-size: 15px;
        margin-bottom: 30px;
      }
    }

    a {
      text-decoration: none;
      margin-left: 50px;
      font-size: 20px;

      @include breakpoints.gt-xs {
        display: inline-block;
        margin-left: 0;
        font-size: 12px;
        width: 80%;
        overflow-wrap: anywhere;
      }
    }

    .copy {
      cursor: pointer;
      margin-left: 25px;
      width: 25px;
      height: 25px;
      border: none;
      outline: none;
      background-color: transparent;
      background-image: url("/images/copy.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @include breakpoints.gt-xs {
        display: inline-block;
        margin-left: auto;
        width: 10%;
      }
    }
  }
}
