@use "../../styles/breakpoints" as breakpoints;

.overlay {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.modal {
  z-index: 1001;
  padding: 40px;
  width: 1100px;
  height: 580px;
  background: #5D87FE;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  animation: zoomIn 0.3s ease;
  box-shadow: 0 0 137px 1px #3B69F8;
  margin: 0 30px;

  @include breakpoints.gt-xs-rv {
    margin: 0;
    width: 90vw;
    height: max-content;
  }

  .title {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 32px;
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    height: 50%;
    margin-bottom: 30px;

    div.inputChange {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: max-content;

      span {
        font-size: 28px;
        padding: 0 30px 0 50px;
        margin-bottom: 20px;
      }

      .input {
        -moz-appearance: textfield;
        -webkit-appearance: none;
        appearance: none;
        text-align: center;
        width: 60px;
        height: 30px;
        border: none;
        border-radius: 4px;
        font-size: 20px;
        background: transparent;
      }

      .input::-webkit-inner-spin-button,
      .input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .increment,
      .decrement {
        margin: 20px 0;
        color: white;
        border: none;
        width: 20px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 20px;
        border-radius: 4px;
        user-select: none;
        background: url("/images/arrow.svg") no-repeat center;
        background-size: contain;
        rotate: -90deg;
      }

      .decrement {
        rotate: -270deg;
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto auto 0;

    button {
      cursor: pointer;
      border: none;
      outline: none;
      width: 250px;
      height: 60px;
      border-radius: 30px;
      font-size: 24px;
      margin: 0 30px;

      &.cancel {
        background-color: #C8C8C8;
        color: #4F70CF;
      }

      &.increase {
        background-color: #fff;
        color: #4F70CF;
      }
    }
  }

  .share {
    padding: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    @include breakpoints.gt-xs-rv {
      padding: 20px;
      flex-direction: column;
    }

    > div {
      display: flex;
      flex-direction: column;
      margin-right: 30px;

      h2 {
        margin-top: 100px;
        font-size: 42px;

        @include breakpoints.gt-xs-rv {
          margin-top: 40px;
        }
      }

      .copy {
        width: max-content;
        font-size: 22px;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
        position: relative;

        &::after {
          content: "";
          background-image: url("/images/copy.svg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 25px;
          height: 25px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -30px;
        }
      }
    }

    img {
      width: 300px;
      height: 300px;
      margin: auto 0 auto auto;

      @include breakpoints.gt-xs-rv {
        margin: 50px auto 40px;
      }
    }
  }

  .content,
  .clearContent {
    width: 100%;
    height: 100%;
    padding: 60px 80px 100px 80px;
    display: flex;
    flex-direction: column;

    @include breakpoints.gt-xs-rv {
      padding: 40px 20px;
    }

    h2 {
      margin: 0 0 28px;
      font-size: 48px;

      @include breakpoints.gt-xs-rv {
        font-size: 40px;
      }
    }

    p {
      margin: 0;
      font-size: 28px;
      max-width: 550px;

      @include breakpoints.gt-xs-rv {
        font-size: 20px;
      }
    }

    a,
    button {
      z-index: 1000;
      text-decoration: none;
      cursor: pointer;
      margin-top: auto;
      width: 250px;
      height: 50px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: none;
      background-color: #fff;
      color: #11327A;
      font-size: 20px;

      @include breakpoints.gt-xs-rv {
        margin-top: 60px;
      }
    }
  }

  .content,
  .authContent {
    &::after {
      position: absolute;
      content: "";
      background-image: url("/images/coin-background.webp");
      background-size: contain;
      background-position: center;
      width: 60%;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
      right: -150px;
      background-repeat: no-repeat;

      @include breakpoints.gt-xs-rv {
        width: 125%;
        height: 500px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -300px;
      }
    }
  }

  .authContent {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 38px;
      margin: 0 0 10px;
    }

    > p {
      font-size: 20px;
      margin: 0 0 20px;
    }

    > form {
      width: 475px;
      margin: auto 0;
      display: flex;
      flex-direction: column;

      label {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 60px;
          height: 60px;

          @include breakpoints.gt-xs {
            width: 40px;
            height: 40px;
          }
        }
      }

      .email {
        &::before {
          background: url("/images/auth-form/email.webp") center center no-repeat;
          background-size: contain;
        }
      }

      .password {
        &::before {
          background: url("/images/auth-form/password.webp") center center no-repeat;
          background-size: contain;
        }

        button {
          cursor: pointer;
          border: none;
          outline: none;
          margin: 0;
          position: absolute;
          background: transparent;
          box-shadow: none;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
          width: 30px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          @include breakpoints.gt-xs {
            right: 10px;
          }
        }
      }


      p {
        color: rgba(255, 255, 255, .6);
        font-size: 16px;
        margin: 10px 0;
        width: 100%;
        text-align: center;

        @include breakpoints.gt-xs {
          font-size: 8px;
          text-align: center;
        }
      }

      .promoCode {
        &::before {
          background: url("/images/auth-form/promo-code.webp") center center no-repeat;
          background-size: contain;
        }
      }

      input {
        width: 100%;
        height: 50px;
        padding: 20px 70px;
        background-color: transparent;
        outline: none;
        border: 1px solid #fff;
        border-radius: 30px;
        font-size: 20px;
        margin: 10px 0;

        &::placeholder {
          color: rgba(255, 255, 255, .6);
        }

        @include breakpoints.gt-xs {
          padding: 10px 35px;
          margin: 5px 0;
          height: 37px;
          font-size: 12px;
        }
      }

      > button {
        cursor: pointer;
        font-weight: 500;
        color: #4F70CF;
        width: 50%;
        height: 50px;
        margin-top: 10px;
        background: #fff;
        border: none;
        border-radius: 30px;
        font-size: 24px;

        @include breakpoints.gt-xs {
          margin: 25px 0 0;
          height: 37px;
          font-size: 12px;
        }
      }

      p.error {
        text-align: left;
        font-size: 18px;
        letter-spacing: 1px;
        color: #ffffff;
      }
    }
  }

  .video {
    position: relative;
    width: 100%;
    height: 100%;

    .mainVideo {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      object-fit: cover;
      object-position: center;
    }

    > div {
      padding: 60px;
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      @include breakpoints.gt-xs-rv {
        padding: 60px 30px;
      }

      div {
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 32px;

          @include breakpoints.gt-xs-rv {
            font-size: 22px;
          }
        }

        span {
          font-size: 20px;

          @include breakpoints.gt-xs-rv {
            font-size: 15px;
          }
        }
      }

      button {
        cursor: pointer;
        margin-left: auto;
        width: 45px;
        height: 45px;
        border: none;
        outline: none;
        background-color: transparent;
        background-image: url("/images/play.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @include breakpoints.gt-xs-rv {
          width: 25px;
          height: 25px;
        }
      }
    }

    > button {
      z-index: 1000;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: transparent;
      max-width: 30px;
      height: 30px;
      border: none;
      outline: none;

      &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        height: 28px;
        background: url('/images/close.svg') 0 0 no-repeat;
        background-size: contain;
      }
    }
  }


  > button {
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: transparent;
    max-width: 30px;
    height: 30px;
    border: none;
    outline: none;

    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 28px;
      height: 28px;
      background: url('/images/close.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }
}
