@use '../../styles/breakpoints' as breakpoint;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  z-index: 1000;
}

.modal {
  position: relative;
  padding: 60px 100px;
  background-position: center;
  background-size: cover;
  width: 90vw;
  height: 90%;
  background-color: #4F70CF;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid #fff;
  animation: zoomIn 0.3s ease;
  box-shadow: 0 0 137px 1px #3B69F8;
  display: flex;
  flex-direction: column;

  @keyframes zoomIn {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  > h2 {
    font-size: 32px;

    @include breakpoint.gt-xs {
      font-size: 24px;
    }
  }

  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    input {
      border: none;
      outline: none;
      font-size: 64px;
      background-color: transparent;
      color: #fff;
      font-weight: 700;

      &::placeholder {
        color: rgba(255, 255, 255, .6);
      }
    }

    textarea {
      margin-top: 30px;
      resize: none;
      height: 300px;
      font-size: 18px;
      background-color: transparent;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 20px;
      padding: 30px;

      &::placeholder {
        color: rgba(255, 255, 255, .6);
      }
    }

  }

  .buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    button {
      margin: 0 10px;
      cursor: pointer;
      width: 300px;
      height: 60px;
      border: none;
      outline: none;
      border-radius: 30px;
      font-size: 22px;
      color: #4F70CF;
      font-weight: 600;

      .save {
        background-color: #fff;
      }

      .delete {
        background: rgba(255, 255, 255, .5);
      }
    }
  }


  > button {
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    top: 90px;
    right: 100px;
    background-color: transparent;
    max-width: 30px;
    height: 30px;
    border: none;
    outline: none;

    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 28px;
      height: 28px;
      background: url('/images/close.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }
}
