@use '../../styles/breakpoints' as breakpoints;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  z-index: 1000;
}

.modal {
  position: relative;
  padding: 60px 100px;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 900px;
  background-color: #4F70CF;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid #fff;
  animation: zoomIn 0.3s ease;
  box-shadow: 0 0 137px 1px #3B69F8;
  display: flex;

  @include breakpoints.gt-xs-rv {
    padding: 40px 20px;
    width: 90vw;
    height: 90vh;
  }

  @keyframes zoomIn {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  > h2 {
    font-size: 48px;
    text-align: center;
    margin: auto;

    @include breakpoints.gt-xs-rv {
      font-size: 24px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 70%;

    @include breakpoints.gt-xs-rv {
      width: 100%;
    }

    .heading {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 64px;
      font-weight: 600;

      &::placeholder {
        color: rgba(255, 255, 255, .5);
      }

      @include breakpoints.gt-xs-rv {
        margin-top: 10px;
        font-size: 32px;
      }
    }

    label {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      font-size: 32px;

      @include breakpoints.gt-xs-rv {
        font-size: 20px;
        margin-top: 10px;
      }

      input,
      textarea {
        margin: 10px 0;
      }
    }

    .description {

      input {
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 18px;
        padding: 22px 20px;
        resize: none;
        height: 50px;
        outline: none;

        @include breakpoints.gt-xs-rv {
          padding: 10px;
          height: 50px;
        }

        &::placeholder {
          color: rgba(255, 255, 255, .6);
        }
      }
    }

    .submit {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 70px 130px;

      @include breakpoints.gt-xs-rv {
        position: relative;
        top: unset;
        right: unset;
        padding: 0;
      }

      .buttons {

        @include breakpoints.gt-xs-rv {
        display: flex;
          flex-direction: column;
          margin-top: 30px;
        }

        button {
          margin-left: 15px;
          background-color: rgba(255, 255, 255, .3);
          width: 100px;
          height: 55px;
          outline: none;
          border: none;
          border-radius: 28px;
          font-size: 20px;
          color: #fff;

          @include breakpoints.gt-xs-rv {
            width: 200px;
            margin-top: 10px;
            height: 30px;
            margin-left: 0;
          }
        }

        button[type="submit"] {
          margin: 0;
          background-color: #fff;
          width: 200px;
          height: 55px;
          outline: none;
          border: none;
          border-radius: 28px;
          font-size: 20px;
          color: #11327A;

          @include breakpoints.gt-xs-rv {
            height: 30px;
          }
        }
      }

      p {
        width: 200px;

        @include breakpoints.gt-xs-rv {
          display: none;
        }
      }

      .links {

        @include breakpoints.gt-xs-rv {
          display: none;
        }

        a {
          margin-right: 10px;
        }
      }
    }
  }

  > button {
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    top: 90px;
    right: 100px;
    background-color: transparent;
    max-width: 30px;
    height: 30px;
    border: none;
    outline: none;

    @include breakpoints.gt-xs-rv {
      top: 30px;
      right: 40px;
    }

    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 28px;
      height: 28px;
      background: url('/images/close.svg') 0 0 no-repeat;
      background-size: contain;
    }
  }
}
