$font-primary: 'Gilroy', sans-serif;
$font-primary-light: 'Gilroy-Light', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
  url('/fonts/Gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('/fonts/Gilroy/Gilroy-UltraLight.woff2') format('woff2'),
  url('/fonts/Gilroy/Gilroy-UltraLight.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
  url('/fonts/Ubuntu/Ubuntu-Regular.woff') format('woff');  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
