@use '../styles/breakpoints' as breakpoint;

.choose {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  position: relative;
  transition: background-color 1s ease-in-out;
  background-color: #000;
  background-position: center;

  &.transitioning {
    background-color: transparent;
  }

  section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out;
    opacity: 1;

    &.transitioning {
      opacity: 0;
    }
  }

  .objects {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(2, 220px);
    grid-auto-rows: 220px;
    gap: 30px;

    @include breakpoint.gt-w {
      margin-top: 30px;
      grid-template-columns: repeat(2, 160px);
      grid-auto-rows: 160px;
      gap: 15px;
    }

    @include breakpoint.gt-xs {
      grid-template-columns: repeat(3, 110px);
      grid-auto-rows: 110px;
      gap: 10px;
      justify-content: center;
    }

    button {
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 30px;
      overflow: hidden;
      padding: 0;
      transition: all ease .1s;

      &.selected {
        box-shadow: 0 0 10px 1px #fff;
      }

      &:hover {
        box-shadow: 0 0 10px 1px #fff;
      }

      @include breakpoint.gt-w {
        border-radius: 20px;

        &:hover {
          box-shadow: none;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;

    @include breakpoint.gt-xs {
      position: relative;
      margin: auto auto 150px auto;
      left: unset;
      transform: unset;
      bottom: unset;
    }

    button,
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      cursor: pointer;
      width: 250px;
      height: 55px;
      border-radius: 28px;
      border: none;
      outline: none;
      box-shadow: 0 0 15px 2px #fff;
      margin: 0 5px;
      font-size: 20px;

      @include breakpoint.gt-w {
        width: 200px;
        height: 40px;
        font-size: 16px;
      }
    }

    .cancel {
      background-color: #4F70CF;

      @include breakpoint.gt-xs {
        display: none;
      }
    }

    .confirm {
      background-image: linear-gradient(to left, #11327A, #3B69F8);

      @include breakpoint.gt-xs {
        width: 160px;
        height: 40px;
        font-size: 12px;
        margin-left: auto;
      }
    }
  }
}
