@use './breakpoints' as breakpoints;
@import "fonts";

:root {
  --main-background-image: url("/images/earth-background.png");
}

* {
  font-family: $font-primary;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: #000;
  margin: 0;
}

section {
  padding: 0 200px;

  @media screen and (min-width: 2166px) {
    padding: 0 300px;
  }

  @include breakpoints.gt-xs {
    padding: 0 16px;
  }
}

h1 {
  position: relative;
  z-index: 2;
  font-size: 64px;
  text-shadow: 0 10px 50px #fff;
  margin: 30px 0 0;

  @include breakpoints.gt-xs {
    font-size: 40px;
  }
}

@include breakpoints.gt-xs {
  .hide-on-mobile {
    display: none !important;
  }

  .slick-track {
    display: flex !important;
    margin-left: 0 !important;
  }

  .slick-slide {
    height: inherit !important;
  }

  .slick-slide > div {
    height: 95%;
  }

  .slider .slick-slide {
    margin: 0 10px;
  }

  .slider {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100%;
  }
}

@include breakpoints.gt-xs-rv {
  .hide-on-desktop {
    display: none !important;
  }
}
