@use "./breakpoints" as breakpoints;

.meditation {
  width: 100%;
  min-height: 100vh;
  background: url("/images/account/account-background.webp") fixed center center / cover no-repeat;
  padding-bottom: 100px;

  .cards {
    margin-top: 60px;
    position: relative;
    z-index: 1;
    max-width: 100%;
    display: grid;
    grid-template: 510px/repeat(4, 1fr);
    justify-content: space-between;
    grid-column-gap: calc((100% - 80%) / 3);
    grid-row-gap: 40px;

    @include breakpoints.gt-w {
      margin-top: 50px;
    }

    @include breakpoints.gt-xs-rv {
      grid-template: 510px/repeat(3, 1fr);
    }

    @include breakpoints.gt-xs {
      //grid-template-rows: calc(100vw + 50px);
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 600px;
    }
  }
}
