@use  "./breakpoints" as breakpoints;

.meditation {
  width: 100%;
  min-height: 100vh;
  background: url("/images/account/account-background.webp") fixed center center / cover no-repeat;
  padding-bottom: 100px;

  .cards {
    margin-top: 60px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    max-width: 100%;
    display: grid;
    grid-template: 510px/repeat(5, 1fr);
    justify-content: space-between;
    grid-column-gap: calc((100% - 90%) / 4);
    grid-row-gap: 40px;

    @include breakpoints.gt-xs-rv {
      grid-template: 510px/repeat(3, 1fr);
    }
  }
}
