@use '../styles/breakpoints' as breakpoint;

.motivation {
  width: 100%;
  min-height: 100vh;
  background: url("/account/account-background.png") no-repeat fixed center center;
  background-size: cover;
}
